<!--
<div *ngIf="!selectedDisc">
  No Selected Disc
</div>
-->
<!--<h2>{{(selectedDisc | async)?.model}}</h2>-->
<!--<div>
  <ul *ngFor="let disk of ( discs | async)">
    <li>{{disk.model}}</li>
    <li>{{disk.manufacturer}}</li>
  </ul>
</div>-->

<br>
<table class="table table-secondary table-striped table-hover table-bordered border-light">
  <thead class="table-dark">
  <tr>
    <th scope="col" >Disc Name</th>
    <th scope="col">Manufacturer</th>
    <th scope="col">Speed</th>
    <th scope="col">Glide</th>
    <th scope="col">Turn</th>
    <th scope="col">Fade</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let disk of ( discs | async)">
    <td> {{ disk.model  }}</td>
    <td>{{ disk.manufacturer }}</td>
    <td>{{ disk.speed }}</td>
    <td>{{ disk.glide }}</td>
    <td>{{ disk.turn }}</td>
    <td>{{ disk.fade }}</td>
  </tr>
  </tbody>
</table>











