
<h2>Select a Disc:</h2>
<!--

<div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
  <button type="button" class="btn btn-secondary" ngbDropdownToggle>Drop me</button>
  <div class="dropdown-menu" ngbDropdownMenu>
        <button ngbDropdownItem *ngFor="let disc of discs" class="" type="button" (click)="onSelect(disc) ">
          <span class="badge">{{disc.id}}</span>
          <span class="name">{{disc.name}}</span>
        </button>
  </div>
</div>

<div *ngIf="selectedDisc">

  <table class="table table-dark">
    <thead>
    <tr>
      <th scope="col">NAME</th>
      <th scope="col">SPEED</th>
      <th scope="col">GLIDE</th>
      <th scope="col">TURN</th>
      <th scope="col">FADE</th>
    </tr>
    </thead>
    <tbody>
    <tr >
      <th scope="row">{{ selectedDisc.name  }}</th>
      <td>{{ selectedDisc.speed }}</td>
      <td>{{ selectedDisc.glide }}</td>
      <td>{{ selectedDisc.turn | number }}</td>
      <td>{{ selectedDisc.fade | number }}</td>
    </tr>
    </tbody>
  </table>
  <div>
    <label for="disc-name">Disc name: </label>
    <input id="disc-name" [(ngModel)]="selectedDisc.name" placeholder="name">
  </div>
</div>
-->


